#popup-modules.popup-layout
    .popup-scrollarea
        .popup.popup-tabs
            .popup-close
            .program-tabs.program-tabs--2
                .program-tab.module-tab.module-tab--active(data-item="1") WORKSHOP
                .program-tab.module-tab(data-item="2") Индивидуальная консультация
                .program-tab.module-tab(data-item="3") AMS формула
                .program-tab.module-tab(data-item="4") Virtual Amazon Assistant
            .program-content-tabs.program-content-tabs--2
                .program-content-tab.module-content-tab.module-content-tab--active(data-item="1")
                    .module-tab-ul-layout
                        p.module-tab-title WORKSHOP
                        .program-tab-ul
                            .program-tab-li Пошаговый алгоритм по выбру и анализу прибыльной темы (от А до Я)
                            .program-tab-li Готовый список “101 прибыльная ниша для создания книги”
                            .program-tab-li Формула продаж в книжном бизнесе на Амазон.
                            .program-tab-li Суть и принципы продвижения книг на Амазон.
                            .program-tab-li Примеры ниш и поведений покупателей в нишах.
                            .program-tab-li Воронка продаж в книжном бизнесе. Суть, принципы.
                            .program-tab-li Объяснение стратегии продвижения по ключевым словам.
                            .program-tab-li На каких этапах пути клиента происходит покупка.
                        .module-tab-ul-btn-layout
                            a(href="#").btn Узнать подробную программу и цену
                .program-content-tab.module-content-tab(data-item="2")
                    .module-tab-ul-layout
                        p.module-tab-title Индивидуальная консультация
                        .program-tab-ul
                            .program-tab-li Консультация проходит по всем озвученным ВАМИ вопросам. Вопросы высылаются заранее
                            .program-tab-li Консультация проходит по Скайпу или Zoom, с видео записью беседы и предоставлением вам ссылки на видео, чтобы вы могли в любой момент вернуться к ней
                            .program-tab-li Также мы можем не созваниваться, я запишу вам видео ответ с демонтстрацией экрана, если необходимо, по озвученным вами вопросам с последующим предоставлением ссылки на видео-ответ, который вы можете просмотреть в любое время
                            .program-tab-li Также я буду задавать вам вопросы чтобы понимать, каким объемом знаний о бизнес-процессах вы обладаете
                            .program-tab-li.program-tab-li--subtitle ДОПОЛНИТЕЛЬНО:
                            .program-tab-li В подарок вы получаете доступ к моему подробнейшему воркшопу по поиску и анализу ниши
                            .program-tab-li Если в последствии, когда-то, возможно, ну вдруг захочется, чем бог не шутит)) вы решите приобрести любой мой курс по книжному бизнесу, то сумма потраченная на консультации будет вычтена из стоимости курса
                        .module-tab-ul-btn-layout
                            a(href="#").btn Узнать подробную программу и цену
                .program-content-tab.module-content-tab(data-item="3")
                    .module-tab-ul-layout
                        p.module-tab-title AMS формула
                        .program-tab-ul
                            .program-tab-li Полный разбор всех процессов настройки, принципов оптимизации, стратегии рекламных кампаний книг на Amazon
                            .program-tab-li Готовая ФОРМУЛА по настройке рекламы, легко адаптируемая для любой книги
                            .program-tab-li Бесплатное участие в вебинарах “Вопрос/ответ по AMS/PPC рекламе” для студентов курса
                            .program-tab-li Доступ к записям всех проведенных ранее вебинаров “Вопрос/ответ по AMS рекламе”
                            .program-tab-li Одна часовая консультация по AMS рекламе (экономия 60$)
                            .program-tab-li Доступ к Workshop по выбору и анализу прибыльной ниши В ПОДАРОК!
                            .program-tab-li Один месяц Премиум-доступа к сервисам Grammarly и MerchantWords (экономия $30)
                        .module-tab-ul-btn-layout
                            a(href="#").btn Узнать подробную программу и цену
                .program-content-tab.module-content-tab(data-item="4")
                    .module-tab-ul-layout
                        p.module-tab-title Virtual Amazon Assistant
                        .program-tab-ul
                            .program-tab-li 6 модулей
                            .program-tab-li 35 уроков (более 8 часов видео уроков)
                            .program-tab-li Объяснение стратегии заработка на позиции Амазон ассистента
                            .program-tab-li Готовые шаблоны документов, необходимых для работы
                            .program-tab-li Участие в закрытом сообществе в Facebook
                            .program-tab-li Постоянная поддержка учеников и сопровождение
                            .program-tab-li Постоянное участие в вебинарах “Вопрос/Ответ”
                            .program-tab-li Доступ к видеозаписям всех проведенных ранее вебинаров “Вопрос/ответ”
                            .program-tab-li Доступ к готовой базе потенциальных клиентов
                            .program-tab-li Готовая ФОРМУЛА для получения постоянного удаленного дохода
                        .module-tab-ul-btn-layout
                            a(href="#").btn Узнать подробную программу и цену
