#popup-programs.popup-layout
    .popup-scrollarea
        .popup.popup-tabs
            .popup-close
            .program-tabs
                .program-tab.package-tab.package-tab--active(data-item="1") Базовый
                .program-tab.package-tab(data-item="2") Эксперт
            .program-content-tabs
                .program-content-tab.package-content-tab.package-content-tab--active(data-item="1")
                    .program-tab-ul-layout
                        .program-tab-ul-layout__col.program-tab-ul-layout__col--1
                            .program-tab-ul
                                .program-tab-li <span class="extrabold">15</span> модулей
                                .program-tab-li <span class="extrabold">90</span> уроков (более 15 часов видео уроков)
                                .program-tab-li <span class="extrabold">Готовые шаблоны</span> документов,<br class="br-lg"> необходимых для работы
                                .program-tab-li Участие в <span class="extrabold">закрытом сообществе</span> в Facebook
                                .program-tab-li <span class="extrabold">Доступ к списку</span> проверенных<br class="br-lg"> специалистов
                                .program-tab-li Постоянное участие в <span class="extrabold">вебинарах</span><br class="br-lg"> “Вопрос/Ответ”
                        .program-tab-ul-layout__col.program-tab-ul-layout__col--1
                            .program-tab-ul
                                .program-tab-li <span class="extrabold">Доступ к видеозаписям</span> всех проведенных ранее вебинаров “Вопрос/ответ”
                                .program-tab-li <span class="extrabold">Доступ к Workshop</span> по выбору и анализу прибыльной ниши
                                .program-tab-li 2-х часовая <span class="extrabold">личная консультация</span> (экономия 120$)
                                .program-tab-li 2 месяца <span class="extrabold">Премиум-доступа</span> к сервисам Grammarly и MerchantWords  (экономия $60)
                    .program-tab-ul-btn-layout
                        a(href="#").btn Узнать подробную программу и цену
                .program-content-tab.package-content-tab(data-item="2")
                    .program-tab-ul-layout
                        .program-tab-ul-layout__col.program-tab-ul-layout__col--1
                            .program-tab-ul
                                .program-tab-li <span class="extrabold">15</span> модулей
                                .program-tab-li <span class="extrabold">90</span> уроков (более 15 часов видео уроков)
                                .program-tab-li <span class="extrabold">Готовые шаблоны</span> документов,<br> необходимых для работы
                                .program-tab-li Участие в <span class="extrabold">закрытом сообществе</span> в Facebook
                                .program-tab-li <span class="extrabold">Доступ к списку</span> проверенных<br> специалистов
                                .program-tab-li Постоянное участие в <span class="extrabold">вебинарах</span><br> “Вопрос/Ответ”
                        .program-tab-ul-layout__col.program-tab-ul-layout__col--1
                            .program-tab-ul
                                .program-tab-li <span class="extrabold">Доступ к видеозаписям</span> всех проведенных ранее вебинаров “Вопрос/ответ”
                                .program-tab-li <span class="extrabold">Доступ к Workshop</span> по выбору и анализу прибыльной ниши
                                .program-tab-li <span class="extrabold color-blue-violet">Две</span> 2-х часовые <span class="extrabold">личные консультации</span> (экономия 240$)
                                .program-tab-li <span class="extrabold color-blue-violet">4</span> месяца <span class="extrabold">Премиум-доступа</span> к сервисам Grammarly и MerchantWords  (экономия $120)
                                .program-tab-li <span class="color-blue-violet"><span class="extrabold">“AMS-формула”</span> * – обучающий курс по PPC рекламе книг на Amazon (экономия $400)</span>
                    .program-tab-ul-btn-layout
                        a(href="#").btn Узнать подробную программу и цену
                    p.program-tab-ul-disclaimer * УНИКАЛЬНЫЙ курс по PPC рекламе книг на Amazon, <span class="extrabold">КОТОРОГО НИГДЕ НЕТ</span>. Полный разбор всех процессов настройки, принципов оптимизации, стратегии рекламных кампаний книг на Amazon Готовая адаптируемая ФОРМУЛА по настройке рекламы Одна часовая консультация.
