#popup-reviews.popup-layout
    .popup-scrollarea
        .popup.popup-reviews
            .popup-close
            .popup-slider.popup-slider-reviews
                .popup-slide
                    .popup-slide-inner
                        img(src="img/home/reviews/review-1.jpg")
                .popup-slide
                    .popup-slide-inner
                        img(src="img/home/reviews/review-1.jpg")
                .popup-slide
                    .popup-slide-inner
                        img(src="img/home/reviews/review-1.jpg")
                .popup-slide
                    .popup-slide-inner
                        img(src="img/home/reviews/review-1.jpg")
                .popup-slide
                    .popup-slide-inner
                        img(src="img/home/reviews/review-1.jpg")
