.home-author-section {
    padding: 80px 0 0;
    @include tablet {
        padding-top: 71px;
    }
    @include mobile {
        padding-top: 56px;
    }
}

.home-author {
    max-width: 1264px;
    padding-left: 108px;
    margin: 0 auto;
    @include tablet-mobile {
        padding-left: 0;
    }

    &__title {

        .section-ghost-title, .section-title {
            text-align: left;
            @include mobile {
                text-align: center;
            }
        }

        .section-ghost-title {
            width: auto;
            left: -18px;
        }
    }
}

.home-author-main {
    margin-top: 48px;
    position: relative;
    @include mobile {
        margin-top: 35px;
    }
}

.home-author-info {
    width: 400px;
    @include tablet {
        width: 332px;
    }
    @include mobile {
        width: 284px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    &__photo {
        width: 100%;
        height: auto;
        border-radius: 20px;
        @include mobile {
            width: 200px;
        }
    }

    &__content {
        text-align: center;
        padding: 24px 38px 0;
        @include tablet {
            padding: 22px 0 0;
        }
        @include mobile {
            padding: 11px 0 0;
        }
    }

    &__name {
        font-weight: bold;
        font-size: 24px;
        line-height: 140%;
        color: #1B1F39;
        @include mobile {
            font-size: 18px;
        }
    }
    &__text {
        font-weight: 300;
        font-size: 16px;
        line-height: 175%;
        color: #1B1F39;
        margin-top: 16px;
        @include mobile {
            font-size: 14px;
            margin-top: 11px;
        }

        a {
            font-weight: 600;
            text-decoration: underline;
        }
    }
}

.home-author-quote {
    width: 724px;
    background: url(../img/home/author/quote.svg) no-repeat center left 76px, #121D54;
    font-size: 14px;
    line-height: 200%;
    color: #FFFFFF;
    padding: 53px 76px 40px 216px;
    position: absolute;
    top: 63px;
    left: 324px;
    z-index: 2;
    @include tablet {
        width: 445px;
        background: url(../img/home/author/quote.svg) no-repeat left 32px center / 68px, #121D54;
        padding: 35px 22px 35px 129px;
        top: 35px;
        left: 260px;
    }
    @include mobile {
        width: 100vw;
        background: url(../img/home/author/quote.svg) no-repeat top 23px left 20px / 36px, #121D54;
        line-height: 143%;
        padding: 72px 20px 15px;
        margin-top: 27px;
        position: relative;
        top: 0;
        left: calc(50% - 50vw);
    }
}

.home-author-list {
    display: flex;
    align-items: flex-start;
    @include desktop-only {
        position: absolute;
        top: 322px;
        left: 540px;
    }
    @include tablet-mobile {
        margin: 54px auto 0;
    }
    @include mobile {
        flex-direction: column;
        align-items: center;
    }
}

.home-author-item {
    width: 184px;
    margin-right: 32px;
    @include tablet-mobile {
        text-align: center;
    }
    @include tablet {
        margin-right: 64px;
    }
    @include mobile {
        width: 310px;
        margin: 0 0 64px;
    }
    &:last-child {
        margin-right: 0;
        @include mobile {
            margin-bottom: 0;
        }
    }

    &__icon {
        width: 76px;
        height: 76px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #5C5CDC;
        box-shadow: 0px 8.63636px 17.2727px rgba(28, 45, 135, 0.26);
        border-radius: 23px;
        @include tablet-mobile {
            margin: 0 auto;
        }

        &_img {

        }

        &.home-author-item__icon--pink {
            background: #F73E91;
        }
        &.home-author-item__icon--blue {
            background: #78BFD3;
        }
    }

    &__title {
        line-height: 140%;
        margin-top: 19px;
    }

    &__text {
        line-height: 140%;
        margin-top: 5px;
    }
}
