.home-details-section {
    padding: 210px 0;
    @include tablet {
        padding: 81px 0 202px;
    }
}

.home-details {

}

.home-details-main {
    max-width: 1264px;
    display: flex;
    align-items: center;
    padding-left: 108px;
    margin: 0 auto;
    @include tablet-mobile {
        flex-direction: column;
        padding-left: 0;
    }
}

.home-details-content {
    flex: 1;
    margin-right: 32px;
    @include tablet {
        margin: 0 0 147px;
    }

    &__title {

        .section-ghost-title {
            @include desktop-only {
                left: -137px;
            }
        }
        .section-title {
            @include desktop-only {
                text-align: left;
            }
        }
    }
}

.home-details-video {
    width: 616px;
    height: 347px;
    border-radius: 20px;
    box-shadow: 0px 10px 60px rgba(37, 128, 236, 0.31);
    position: relative;

    &__img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        object-fit: cover;
        position: relative;
        z-index: 2;
    }
}
