.home-faq-section {

}

.home-faq {
    max-width: 832px;
    padding: 80px 0 96px;
    margin: 0 auto;
    @include tablet {
        padding: 78px 0 114px;
    }
    @include mobile {
        padding: 54px 0 113px;
    }
}

.home-faq-video {
    border-radius: 27px;
    margin: 40px auto 0;
    cursor: pointer;
    position: relative;
    @include mobile {
        border-radius: 11px;
        margin-top: 30px;
    }

    &__img {
        width: 100%;
        height: auto;
        border-radius: 27px;
        box-shadow: 0px 13.5065px 81.039px rgba(37, 128, 236, 0.31);
        @include mobile {
            border-radius: 11px;
        }
    }
}

.home-faq-list {
    margin-top: 61px;
    @include mobile {
        margin-top: 32px;
    }
}

.home-faq-item {
    margin-bottom: 21px;
    &:last-child {
        margin-bottom: 0;
    }

    &__header {
        display: flex;
        padding-left: 35px;
        position: relative;
        cursor: pointer;
        @include mobile {
            padding-left: 18px;
        }
        &:before {
            content: '';
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #4949B7;
            position: absolute;
            top: 18px;
            left: 0;
            @include mobile {
                top: 14px;
            }
        }
    }

    &__main {
        display: none;
        padding: 20px 107px 0 35px;
        @include mobile {
            padding: 5px 70px 0 18px;
        }
    }

    &__title {
        flex: 1;
        padding-top: 8px;
        margin-right: 12px;
    }

    &__arrow {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background: url(../../img/new_pages/common/arrow-toggle-11.svg) no-repeat center, #4949B7;
        opacity: 0.26;
        transition: 0.3s;
    }

    &.home-faq-item--active {

        .home-faq-item__main {
            //display: block;
        }

        .home-faq-item__arrow {
            opacity: 1;
            transform: rotate(180deg);
        }
    }
}
