.home-foreword-section {
    padding: 90px 0 0;
    @include tablet {
        padding-top: 75px;
    }
    @include mobile {
        padding-top: 53px;
    }
}

.home-foreword {

    &__subtitle {
        max-width: 860px;
        text-align: center;
        margin: 70px auto 0;
        @include tablet {
            max-width: 663px;
            margin-top: 82px;
        }
        @include mobile {
            margin-top: 59px;
        }
    }
}

.home-foreword-list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 100px auto 0;
    @include tablet {
        width: 665px;
        flex-wrap: wrap;
        margin-top: 22px;
    }
    @include mobile {
        flex-direction: column;
        align-items: center;
        margin-top: 55px;
    }
}

.home-foreword-item {
    width: 292px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 32px;
    position: relative;
    @include tablet {
        margin: 52px 80px 0 0;
    }
    @include mobile {
        margin: 65px auto 0;
    }
    &:after {
        content: '';
        width: 171px;
        height: 32px;
        background: url(../img/home/foreword/arrow-curve-top.svg) no-repeat center / contain;
        position: absolute;
        top: -20px;
        right: -103px;
        @include tablet {
            width: 182px;
            height: 34px;
            background-image: url(../img/home/foreword/arrow-curve-odd-2-tablet.svg);
            top: 92px;
            left: 246px;
        }
        @include mobile {
            width: 31px;
            height: 172px;
            background-image: url(../img/home/foreword/arrow-curve-right.svg);
            top: auto;
            bottom: -69px;
            right: 14px;
        }
    }
    &:first-child {
        @include mobile {
            margin-top: 0;
        }
        &:after {
            @include tablet {
                width: 171px;
                height: 33px;
                background-image: url(../img/home/foreword/arrow-curve-odd-1-tablet.svg);
                top: -20px;
                left: 251px;
            }
        }
    }
    &:nth-child(even) {
        @include tablet {
            margin-right: 0;
        }
        &:after {
            content: '';
            background-image: url(../img/home/foreword/arrow-curve-bottom.svg);
            top: 88px;
            right: -101px;
            @include tablet {
                width: 149px;
                height: 88px;
                background-image: url(../img/home/foreword/arrow-curve-even-tablet.svg);
                top: 152px;
                right: auto;
                left: -145px;
            }
            @include mobile {
                width: 28px;
                height: 172px;
                background-image: url(../img/home/foreword/arrow-curve-left.svg);
                top: auto;
                bottom: -87px;
                right: auto;
                left: -4px;
            }
        }
    }
    &:last-child {
        margin-right: 0;
        &:after {
            display: none;
        }
    }

    &__icon {
        width: 76px;
        height: 76px;
        filter: drop-shadow(0px 8.63636px 17.2727px rgba(28, 45, 135, 0.26));
        margin-bottom: 31px;
    }

    &__text {
        width: 100%;
        line-height: 140%;
        text-align: center;

        &_number {
            font-weight: 800;
            font-size: 18px;
        }
    }
}

.home-foreword-gift {
    margin-top: 70px;
    @include tablet-mobile {
        width: 100vw;
        background: #4949B7;
        position: relative;
        left: calc(50% - 50vw);
    }
    @include mobile {
        margin-top: 115px;
    }
}
