.home-gives-section {
    background: #121D54;
    padding: 90px 0 125px;
    @include tablet {
        padding-bottom: 72px;
    }
    @include mobile {
        padding: 28px 0 53px;
    }
}

.home-gives {

}

.home-gives-main {
    max-width: 1048px;
    margin: 90px auto 0;
    @include mobile {
        margin-top: 226px;
    }
}

.home-gives-item {
    width: 510px;
    text-align: right;
    margin-bottom: 130px;
    position: relative;
    @include tablet {
        width: 460px;
        margin-bottom: 150px;
    }
    @include mobile {
        width: 100%;
        text-align: left;
        margin-bottom: 255px;
    }
    &:before {
        content: '';
        background: no-repeat center / contain;
        position: absolute;
    }
    &:last-child {
        margin-bottom: 0;
    }
    &:nth-child(odd) {
        text-align: left;
        margin-left: auto;
    }
    &:nth-child(1) {
        &:before {
            width: 406px;
            height: 267px;
            background-image: url(../../img/new_pages/home/gives/item-1.svg);
            top: -40px;
            left: -556px;
            @include tablet-mobile {
                background-image: url(../../img/new_pages/home/gives/item-1-tablet.svg);
            }
            @include tablet {
                width: 252px;
                height: 247px;
                top: -16px;
                left: -282px;
            }
            @include mobile {
                width: 163px;
                height: 160px;
                top: -186px;
                left: 90px;
            }
        }
    }
    &:nth-child(2) {
        &:before {
            width: 488px;
            height: 336px;
            background-image: url(../../img/new_pages/home/gives/item-2.svg);
            top: -96px;
            left: 631px;
            @include tablet-mobile {
                background-image: url(../../img/new_pages/home/gives/item-2-tablet.svg);
            }
            @include tablet {
                width: 271px;
                height: 311px;
                top: -120px;
                left: 480px;
            }
            @include mobile {
                width: 170px;
                height: 195px;
                top: -226px;
                left: 105px;
            }
        }
    }
}
