.home-system-section {
    padding: 160px 0 0;
    @include mobile {
        padding-top: 53px;
    }
}

.home-system {

}

.home-system-box {
    display: flex;
    @include tablet-mobile {
        width: 100vw;
        flex-direction: column;
        position: relative;
        left: calc(50% - 50vw);
    }

    &__title {
        margin: 0 auto 37px;
        @include tablet {
            max-width: 710px;
        }
        @include mobile {
            max-width: 340px;
            margin-bottom: 30px;
        }
    }

    &__left {
        width: calc(50% + 56px);
        border-radius: 20px 0 0 20px;
        background: url(../../img/new_pages/home/system/bg-left.svg) no-repeat top left / cover, #2E2362;
        padding: 79px 40px 59px 51px;
        @include tablet-mobile {
            width: 100%;
            border-radius: 0;
        }
        @include tablet {
            padding: 79px 10px 64px;
        }
        @include mobile {
            padding: 53px 10px 32px;
        }
    }
    &__right {
        width: calc(50% - 56px);
        display: flex;
        flex-direction: column;
        @include tablet-mobile {
            width: 100%;
        }

        &_top {
            flex: 1;
            border-radius: 0 20px 0 0;
            background: url(../../img/new_pages/home/system/bg-right-top.svg) no-repeat bottom right / cover, #4949B7;
            padding: 80px 51px 69px 68px;
            @include tablet-mobile {
                border-radius: 0;
            }
            @include tablet {
                padding: 63px 10px 51px;
            }
            @include mobile {
                padding: 34px 10px;
            }

            .home-system-box-blocks {

                .home-system-box-block {
                    @include tablet {
                        margin-bottom: 24px;
                    }
                    @include mobile {
                        margin-bottom: 22px;
                    }
                }
            }

            .home-system-box-block {

                &__title {
                    @include tablet-mobile {
                        display: none;
                    }
                }
            }
        }
        &_bottom {
            border-radius: 0 0 20px 0;
            background: #FF9900;
            padding: 51px 60px 64px;
            @include tablet-mobile {
                border-radius: 0;
            }
            @include tablet {
                padding: 51px 10px 64px;
            }
            @include mobile {
                padding: 27px 10px 23px;
            }
        }
    }
}

.home-system-box-blocks {
    @include tablet-mobile {
        margin: 0 auto;
    }
    @include tablet {
        max-width: 710px;
    }
    @include mobile {
        max-width: 340px;
    }

    .home-system-box-block {
        margin-bottom: 56px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.home-system-box-block {

    &__title {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.home-system-box-list {

}

.home-system-box-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 24px;
    @include mobile {
        margin-bottom: 22px;
    }
    &:last-child {
        margin-bottom: 0;
    }

    &__number {
        width: 24px;
        margin-right: 8px;
        @include mobile {
            margin-right: 4px;
        }
    }

    &__text {
        flex: 1;
    }
}

.home-system-box-guarantee {
    max-width: 500px;
    text-align: center;
    margin: 0 auto;

    &__title {
        font-weight: 800;
        font-size: 32px;
        @include mobile {
            font-size: 26px;
        }

        &_emoji {
            font-size: 38px;
            line-height: 110%;
            margin-right: 11px;
            @include mobile {
                font-size: 31px;
                margin-right: 9px;
            }
        }
    }

    &__text {
        margin-top: 8px;
        @include mobile {
            max-width: 305px;
            margin: 11px auto 0;
        }
    }
}
