.home-whom-section {
    padding: 90px 0 0;
    @include mobile {
        padding-top: 50px;
    }
}

.home-whom {

}

.home-whom-main {
    max-width: 1076px;
    margin: 65px auto 0;
    position: relative;
    @include tablet {
        margin-top: 56px;
    }
    @include mobile {
        margin-top: 35px;
    }
}

.home-whom-about {
    width: 496px;
    height: 496px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: url(../../img/new_pages/home/whom/about-circle.svg) no-repeat center / cover;
    position: relative;
    z-index: 2;
    @include tablet-mobile {
        margin: 0 auto;
    }
    @include mobile {
        left: calc(50% - 248px);
    }

    &__item {
        text-align: center;
        margin-bottom: 76px;
        @include mobile {
            max-width: 340px;
        }
        &:last-child {
            margin-bottom: 0;
        }

        &_title {
            max-width: 270px;
            margin: 0 auto;
        }
        &_text {
            max-width: 390px;
            margin: 12px auto 0;
        }
    }
}

.home-whom-people {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    @include tablet-mobile {
        top: 496px;
    }
}

.home-whom-people-item {
    position: absolute;

    &__img {
        background: no-repeat center / contain;
        position: absolute;
        top: -44px;
        right: 198px;
    }

    &__text {
        width: 174px;
        font-weight: 500;
        line-height: 140%;
        @include tablet-mobile {
            text-align: center;
        }
    }

    &.home-whom-people-item--1 {
        top: 38px;
        left: 636px;
        @include tablet {
            top: 215px;
            left: 462px;
        }
        @include mobile {
            top: 160px;
            left: 182px;
        }

        .home-whom-people-item__img {
            width: 435px;
            height: 215px;
            background-image: url(../../img/new_pages/home/whom/item-1.svg);
            top: -33px;
            @include tablet {
                width: 220px;
                height: 439px;
                background-image: url(../../img/new_pages/home/whom/item-1-tablet.svg);
                top: -450px;
                left: -76px;
            }
            @include mobile {
                width: 214px;
                height: 406px;
                background-image: url(../../img/new_pages/home/whom/item-1-mobile.svg);
                top: -418px;
                left: -70px;
            }
        }
    }
    &.home-whom-people-item--2 {
        top: 117px;
        left: 965px;
        @include tablet {
            top: 546px;
            left: 400px;
        }
        @include mobile {
            top: 500px;
            left: 184px;
        }

        .home-whom-people-item__img {
            width: 609px;
            height: 187px;
            background-image: url(../../img/new_pages/home/whom/item-2.svg);
            @include tablet {
                width: 197px;
                height: 613px;
                background-image: url(../../img/new_pages/home/whom/item-2-tablet.svg);
                top: -625px;
                left: -53px;
            }
            @include mobile {
                width: 171px;
                height: 558px;
                background-image: url(../../img/new_pages/home/whom/item-2-mobile.svg);
                top: -568px;
                left: -28px;
            }
        }
    }
    &.home-whom-people-item--3 {
        top: 254px;
        left: 775px;
        @include tablet {
            top: 357px;
            left: 260px;
        }
        @include mobile {
            top: 350px;
            left: 57px;
        }

        .home-whom-people-item__img {
            width: 591px;
            height: 118px;
            background-image: url(../../img/new_pages/home/whom/item-3.svg);
            @include tablet {
                width: 127px;
                height: 594px;
                background-image: url(../../img/new_pages/home/whom/item-3-tablet.svg);
                top: -606px;
                left: 17px;
            }
            @include mobile {
                width: 128px;
                height: 565px;
                background-image: url(../../img/new_pages/home/whom/item-3-mobile.svg);
                top: -577px;
                left: 20px;
            }
        }
    }
    &.home-whom-people-item--4 {
        top: 396px;
        left: 967px;
        @include tablet {
            top: 551px;
            left: 121px;
        }
        @include mobile {
            top: 528px;
            left: -18px;
        }

        .home-whom-people-item__img {
            width: 581px;
            height: 165px;
            background-image: url(../../img/new_pages/home/whom/item-4.svg);
            top: -100px;
            @include tablet {
                width: 173px;
                height: 584px;
                background-image: url(../../img/new_pages/home/whom/item-4-tablet.svg);
                top: -596px;
                left: 26px;
            }
            @include mobile {
                width: 122px;
                height: 610px;
                background-image: url(../../img/new_pages/home/whom/item-4-mobile.svg);
                top: -622px;
                left: 30px;
            }
        }
    }
    &.home-whom-people-item--5 {
        top: 439px;
        left: 636px;
        @include tablet {
            top: 215px;
            left: 76px;
        }
        @include mobile {
            top: 172px;
            left: -38px;
        }

        .home-whom-people-item__img {
            width: 579px;
            height: 146px;
            background-image: url(../../img/new_pages/home/whom/item-5.svg);
            top: -82px;
            @include tablet {
                width: 153px;
                height: 583px;
                background-image: url(../../img/new_pages/home/whom/item-5-tablet.svg);
                top: -596px;
                left: 26px;
            }
            @include mobile {
                width: 179px;
                height: 553px;
                background-image: url(../../img/new_pages/home/whom/item-5-mobile.svg);
                top: -565px;
                left: 34px;
            }
        }
    }
}

.home-whom-stairs-layout {
    margin-top: 118px;
    position: relative;
    @include desktop-tablet {
        min-height: 395px;
    }
    @include tablet {
        margin-top: 685px;
    }
    @include mobile {
        margin-top: 604px;
    }
    &:before {
        content: '';
        width: 1195px;
        height: 395px;
        background: url(../../img/new_pages/home/whom/stairs.svg) no-repeat center / contain;
        position: absolute;
        bottom: 0;
        left: calc(50% - 960px);
        @include tablet {
            left: calc(50% - 680px);
        }
        @include mobile {
            display: none;
        }
    }
    &:after {
        content: '';
        width: 249px;
        height: 191px;
        background: url(../../img/new_pages/home/whom/running-man.svg) no-repeat center / contain;
        position: absolute;
        bottom: 193px;
        left: calc(50% - 87px);
        @include tablet {
            left: calc(50% + 193px);
        }
        @include mobile {
            display: none;
        }
    }
}

.home-whom-stairs {
    display: flex;
    align-items: flex-start;
    padding-right: 45px;
    position: relative;
    z-index: 2;
    @include desktop-tablet {
        width: 1280px;
        left: calc(50% - 640px);
    }
    @include tablet-mobile {
        flex-direction: column;
        padding-right: 0;
    }
    @include tablet {
        width: 710px;
        left: calc(50% - 355px);
    }
}

.home-whom-stairs-list {
    flex: 1;
    padding-top: 27px;
    position: relative;
    @include tablet-mobile {
        order: 2;
    }
    @include tablet {
        min-height: 395px;
        margin-top: 45px;
    }
    @include mobile {
        padding-bottom: 38px;
        margin-top: 44px;
    }
    &:before {
        @include mobile {
            content: '';
            width: 100vw;
            height: 100%;
            background: #121D54;
            position: absolute;
            top: 0;
            left: calc(50% - 50vw);
        }
    }
}
.home-whom-stairs-item {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    @include mobile {
        margin-bottom: 14px;
        position: relative;
        z-index: 2;
    }
    &:last-child {
        margin-bottom: 0;
    }
    @for $i from 1 through 6 {
        &:nth-child(#{$i}) {
            margin-left: 60px * ($i - 1);
            @include mobile {
                margin-left: 0;
            }
        }
    }

    &__icon {
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: rgba(203, 205, 235, 0.22);
        margin-right: 19px;
        @include mobile {
            width: 37px;
            height: 37px;
            margin-right: 15px;
        }

        &_img {
            width: 20px;
            height: 20px;
            object-fit: contain;
            @include mobile {
                width: 17px;
                height: 17px;
            }
        }
    }

    &__text {
        flex: 1;
        @include tablet {
            font-size: 14px;
        }
    }
}

.home-whom-action {
    padding-top: 87px;
    @include tablet-mobile {
        width: 100%;
        order: 1;
        padding-top: 0;
    }
    @include tablet {
        display: flex;
        align-items: center;
    }

    &__title {
        @include tablet {
            flex: 1;
        }
    }

    &__btn {
        margin-top: 32px;
        @include tablet {
            margin-top: 0;
        }
        @include mobile {
            margin-top: 24px;
        }
    }
}
