footer.main-footer
  .main-wrapper
    .main-footer-col.main-footer-col--1
      a(href="#").logo
        img(src="img/logo.svg" alt="logo").logo__img
        .logo__text
          | Profit
          span.color-fountain-blue Zone
      p.color-white.title-1.main-footer-title Курс и наставничество
      p.color-white-07.text-1.main-footer-text Amazon-предпринимателя и путешественника Антона Петренко

    .main-footer-col.main-footer-col--2
      .main-footer-menu
        a(href="#").main-footer-menu__item Договор публичной оферты
        a(href="#").main-footer-menu__item Политика конфиденциальности

    .main-footer-col.main-footer-col--3
      .main-footer-email
        img(src="img/common/email.svg" alt="email").main-footer-email__img
        p.title-1.color-white.main-footer-email__title E-mail
        a(href="mailto:anton.petrenko@profit-zone.com").color-white-07.text-1.main-footer-email__text anton.petrenko@profit-zone.com


include scripts.jade
