.gift-box
  .gift-box__main
    p.color-white.gift-box__title Получите уроки в подарок!
    p.color-white.gift-box__text Бесплатный курс для начинающих про онлайн бизнес : заработок на Амазон
  button(type="button" onclick="showPopup('#popup-form-2-1')").popup-link.btn.gift-box__btn Получить подарок
