header.main-header
  .main-wrapper
    .main-header__left
      a(href="#").logo-2
        img(src="img/new_pages/logo.svg" alt="logo").logo-2__img
        .logo-2__text
          | Profit
          span.color-fountain-blue Zone

    .main-header__right
      .main-header-menu
        a(href="#").main-header-menu__item курсы и услуги
        a(href="#").main-header-menu__item отзывы
        a(href="#").main-header-menu__item блог

      .burger.main-header-burger
        .burger-line
        .burger-line
        .burger-line

        .main-header-submenu
          .main-header-submenu__close
          .main-header-submenu__inner
            .main-header-submenu-additional
              a(href="#").main-header-submenu-additional__item курсы и услуги
              a(href="#").main-header-submenu-additional__item отзывы
              a(href="#").main-header-submenu-additional__item блог
            .main-header-submenu-main
              a(href="#").main-header-submenu-main__item Курс Amazon PPC
              a(href="#").main-header-submenu-main__item Курс Virtual
              a(href="#").main-header-submenu-main__item Amazon Assistant
              a(href="#").main-header-submenu-main__item Бесплатные уроки
              a(href="#").main-header-submenu-main__item Отзывы студентов
              a(href="#").main-header-submenu-main__item Description генератор
              a(href="#").main-header-submenu-main__item BSR Калькулятор

      .lang-switcher.main-header-lang-switcher
        .lang-switcher__current RU
        img(src="img/new_pages/common/arrow-bottom-7.svg").lang-switcher__arrow
        .lang-switcher__menu
          a(href="#").lang-switcher__menu_item en
          a(href="#").lang-switcher__menu_item ua


