html {
    min-height: 100vh;
}

body {
    background: #ffffff;
    font-family: Montserrat, sans-serif;
    color: #2D3851;
    font-size: 15px;
    line-height: 160%;
    overflow-x: hidden;
    @include mobile {
        font-size: 14px;
    }
}

body, .page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-wrapper {
    max-width: 1426px;
    padding: 0 30px;
    margin: 0 auto;
    @include tablet {
        max-width: 730px;
        padding: 0 10px;
    }
    @include mobile {
        max-width: 360px;
        padding: 0 10px;
    }
}

.main {
    flex: 1 0 auto;
    overflow-x: hidden;
}

a {
    transition: 0.4s;
    &:hover {
        color: #FF9900;
    }
}

.br-lg {
    display: block;
    @include tablet {
        display: none;
    }
    @include mobile {
        display: none;
    }
}

.br-lp {
    display: none;
    @include laptop {
        display: block;
    }
    @include tablet {
        display: none;
    }
    @include mobile {
        display: none;
    }
}

.br-lp-md {
    display: none;
    @include laptop {
        display: block;
    }
    @include tablet {
        display: block;
    }
    @include mobile {
        display: none;
    }
}

.br-lp-sm {
    display: none;
    @include laptop {
        display: block;
    }
    @include tablet {
        display: block;
    }
    @include mobile {
        display: block;
    }
}

.br-lg-md {
    display: block;
    @include tablet {
        display: block;
    }
    @include mobile {
        display: none;
    }
}

.br-lg--sm {
    display: block;
    @include tablet {
        display: none;
    }
    @include mobile {
        display: block;
    }
}

.br-md-sm {
    display: none;
    @include tablet {
        display: block;
    }
    @include mobile {
        display: block;
    }
}

.br-md {
    display: none;
    @include tablet {
        display: block;
    }
    @include mobile {
        display: none;
    }
}

.br-sm {
    display: none;
    @include tablet {
        display: none;
    }
    @include mobile {
        display: block;
    }
}

.br-sm-text {
    display: none;
    @include tablet {
        display: none;
    }
    @include mobile {
        display: inline;
    }
}

.inline-lg {
    display: inline;
    @include tablet {
        display: none;
    }
    @include mobile {
        display: none;
    }
}

.inline-lp {
    display: none;
    @include laptop {
        display: inline;
    }
    @include tablet {
        display: none;
    }
    @include mobile {
        display: none;
    }
}

.inline-lp-md {
    display: none;
    @include laptop {
        display: inline;
    }
    @include tablet {
        display: inline;
    }
    @include mobile {
        display: none;
    }
}

.inline-lp-sm {
    display: none;
    @include laptop {
        display: inline;
    }
    @include tablet {
        display: inline;
    }
    @include mobile {
        display: inline;
    }
}

.inline-lg-md {
    display: inline;
    @include tablet {
        display: inline;
    }
    @include mobile {
        display: none;
    }
}

.inline-md-sm {
    display: none;
    @include tablet {
        display: inline;
    }
    @include mobile {
        display: inline;
    }
}

.inline-md {
    display: none;
    @include tablet {
        display: inline;
    }
    @include mobile {
        display: none;
    }
}

.inline-sm {
    display: none;
    @include tablet {
        display: none;
    }
    @include mobile {
        display: inline;
    }
}

.hidden {
    display: none;
}

.clear {
    display: table;
    clear: both;
}

p, h1, h2, h3, h4, h5, h6, img {
    display: block;
}

a {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
}

button {
    background: none;
    border: none;
    transition: 0.5s;
}

em {
    font-style: italic;
}

b, strong {
    font-weight: 700;
}

.input, .textarea, .select {
    width: 100%;
    display: block;
    border: none;
    background: #3E3E9C;
    border-radius: 100px;
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 214%;
    padding: 17px 33px;
    outline: none;
    transition: 0.5s;
    &::placeholder {
        color: rgba(255,255,255,0.7);
    }
}

textarea {
    resize: none;
}

label {
    display: block;
}
