extends ../layouts/main

block contents

    include ../partials/header

    .main.error-404-page
        .main-wrapper
            .error-404
                p.error-404__title 404

    include ../partials/footer
