extends ../layouts/main

block contents

  .main.home-page
    include ../pages-partials/home/intro
    include ../pages-partials/home/foreword
    include ../pages-partials/home/whom
    include ../pages-partials/home/gives
    include ../pages-partials/home/sells
    include ../pages-partials/home/system
    include ../pages-partials/home/details
    include ../pages-partials/home/program
    include ../pages-partials/home/format
    include ../pages-partials/home/author
    include ../pages-partials/home/reviews
    include ../pages-partials/home/students
    include ../pages-partials/home/receive
    include ../pages-partials/home/faq

  include ../partials/footer

  include ../pages-partials/home/popups/popup-reviews
  include ../pages-partials/home/popups/popup-students

  script(src='js/home.js')
