#popup-form.popup-layout
  .popup-scrollarea
    .popup.popup-form
      .popup-close
      p.popup-form__title Самым решительным дарим промокод на 50% скидку на любую программу
      p.popup-form__subtitle Получите его на email и активируйте<br> до 8:00 25 декабря
      .form.popup-form__form
        .formgroup
          input.input(type="text" placeholder="Ваше имя")
        .formgroup
          input.input(type="text" placeholder="Ваш email")
        p.popup-form__text При оплате в течение 24 часов получите в подарок запись конференции “Удаленная работа 2022:<br class="br-lg-md"> инструменты online-менеджмента & успешная карьера”
        button(type="button").btn.form__submit получить 50% скидку
      p.popup-form__disclaimer Промокод придет вам на почту вместе с дальнейшими инструкциями



