#popup-form-2-1.popup-layout
  .popup-scrollarea
    .popup.popup-form-2
      .popup-close
      .popup-form-2__img
      .popup-form-2__content
        p.popup-form-2__title Amazon start.<br> Бесплатный курс.
        p.popup-form-2__text Получи прямо сейчас на свой email.
        .form.popup-form-2__form
          .formgroup
            input.input(type="text" placeholder="Ваше имя")
          .formgroup
            input.input(type="text" placeholder="Ваш email")
          button(type="button").btn.form__submit получить доступ



