#popup-form-2-2.popup-layout
  .popup-scrollarea
    .popup.popup-form-2.popup-form-2--2
      .popup-close
      .popup-form-2__img.popup-form-2__img--2
      p.popup-form-2__title Отличный выбор!
      p.popup-form-2__text-2 Введите пожалуйста, свои данные, информация о стоимости курса <b>Базовый</b> будет отправлена на ваш e-mail и мы вместе начнем Ваш бизнес!
      .form.popup-form-2__form
        .formgroup
          input.input(type="text" placeholder="Ваше имя")
        .formgroup
          input.input(type="text" placeholder="Ваш email")
        button(type="button").btn.form__submit Получить на почту



