.section.home-author-section
  .main-wrapper
    .home-author
      .section-title-layout.home-author__title
        p.section-ghost-title автор
        p.section-title <span class="color-blue-violet">Автор</span> курса

      .home-author-main
        .home-author-info
          img(src="img/new_pages/home/author/author.jpg" alt="author").home-author-info__photo
          .home-author-info__content
            p.home-author-info__name Антон Петренко
            p.home-author-info__text Тренер и наставник курса Аmazon-предприниматель, путешественник, автор блога <a href="#">GoodStory.net</a>

        .home-author-quote Мне нравится обучение книжному бизнесу из-за самого процесса передачи навыков. Мне интересно, чтобы ваша продажа электронных книг на Амазон успешно монетизировалась.

        .home-author-list
          .home-author-item
            .home-author-item__icon
              img(src="img/new_pages/home/author/item-1.svg" alt="icon").home-author-item__icon_img
            p.home-author-item__title
              b с 2013 года
            p.home-author-item__text предприниматель на Амазон
          .home-author-item
            .home-author-item__icon.home-author-item__icon--pink
              img(src="img/new_pages/home/author/item-2.svg" alt="icon").home-author-item__icon_img
            p.home-author-item__title
              b Более 400 книг
            p.home-author-item__text в личном<br class="br-lg-md"> онлайн-магазине продаются в США, Британии и Европе
          .home-author-item
            .home-author-item__icon.home-author-item__icon--blue
              img(src="img/new_pages/home/author/item-3.svg" alt="icon").home-author-item__icon_img
            p.home-author-item__title
              b 450+ учеников
            p.home-author-item__text по всему миру ведут успешный книжный бизнес
