.section.home-details-section
  .main-wrapper
    .home-details
      .home-details-main
        .home-details-content
          .section-title-layout.home-details-content__title
            p.section-ghost-title детали
            p.section-title Узнайте все <span class="color-blue-violet">детали про онлайн-обучение</span> в Profit Zone
        .home-details-video
          .circle-bg
          img(src="img/home/details/video-thumb.jpg").home-details-video__img

