.section.home-faq-section
  .main-wrapper
    .home-faq
      .section-title-layout.home-faq__title
        p.section-ghost-title Ответы
        p.section-title <span class="color-blue-violet">Ответы</span> на часто<br> задаваемые вопросы

      .home-faq-video.popup-link(onclick="showVideoPopup('oeO92ivQwWw')")
        img(src="img/new_pages/home/faq/video-thumb.jpg").home-faq-video__img
        .play-btn

      .home-faq-list
        .home-faq-item
          .home-faq-item__header
            p.title-5.home-faq-item__title Что мне необходимо для старта?
            .home-faq-item__arrow
          .home-faq-item__main
            p.text-5.home-faq-item__text Нет. Этот бизнес не имеет ничего общего с сетевым маркетингом (MLM), финансовыми пирамидами, хайпами, прямыми продажами, инвестиционными проектами и подобными схемами. Это абсолютно легальный, интересный и крутой бизнес. Вы зарабатываете роялти за продажи электронных и печатных книг на сайте Amazon.
        .home-faq-item
          .home-faq-item__header
            p.title-5.home-faq-item__title Нужно ли мне привлекать других людей к этому бизнесу, чтобы зарабатывать?
            .home-faq-item__arrow
          .home-faq-item__main
            p.text-5.home-faq-item__text Нет. Этот бизнес не имеет ничего общего с сетевым маркетингом (MLM), финансовыми пирамидами, хайпами, прямыми продажами, инвестиционными проектами и подобными схемами. Это абсолютно легальный, интересный и крутой бизнес. Вы зарабатываете роялти за продажи электронных и печатных книг на сайте Amazon.
        .home-faq-item
          .home-faq-item__header
            p.title-5.home-faq-item__title На каком языке материалы курса "Книжный бизнес на Амазон"?
            .home-faq-item__arrow
          .home-faq-item__main
            p.text-5.home-faq-item__text Нет. Этот бизнес не имеет ничего общего с сетевым маркетингом (MLM), финансовыми пирамидами, хайпами, прямыми продажами, инвестиционными проектами и подобными схемами. Это абсолютно легальный, интересный и крутой бизнес. Вы зарабатываете роялти за продажи электронных и печатных книг на сайте Amazon.
        .home-faq-item
          .home-faq-item__header
            p.title-5.home-faq-item__title Как выглядит обучающая программа курса Книжный бизнес на Амазон?
            .home-faq-item__arrow
          .home-faq-item__main
            p.text-5.home-faq-item__text Нет. Этот бизнес не имеет ничего общего с сетевым маркетингом (MLM), финансовыми пирамидами, хайпами, прямыми продажами, инвестиционными проектами и подобными схемами. Это абсолютно легальный, интересный и крутой бизнес. Вы зарабатываете роялти за продажи электронных и печатных книг на сайте Amazon.
        .home-faq-item
          .home-faq-item__header
            p.title-5.home-faq-item__title У меня слабый английский, смогу ли я этим заниматься?
            .home-faq-item__arrow
          .home-faq-item__main
            p.text-5.home-faq-item__text Нет. Этот бизнес не имеет ничего общего с сетевым маркетингом (MLM), финансовыми пирамидами, хайпами, прямыми продажами, инвестиционными проектами и подобными схемами. Это абсолютно легальный, интересный и крутой бизнес. Вы зарабатываете роялти за продажи электронных и печатных книг на сайте Amazon.
        .home-faq-item
          .home-faq-item__header
            p.title-5.home-faq-item__title Я не писатель, как мне быть?
            .home-faq-item__arrow
          .home-faq-item__main
            p.text-5.home-faq-item__text Нет. Этот бизнес не имеет ничего общего с сетевым маркетингом (MLM), финансовыми пирамидами, хайпами, прямыми продажами, инвестиционными проектами и подобными схемами. Это абсолютно легальный, интересный и крутой бизнес. Вы зарабатываете роялти за продажи электронных и печатных книг на сайте Amazon.
        .home-faq-item
          .home-faq-item__header
            p.title-5.home-faq-item__title Это то же самое, что продажа физического товара на Amazon?
            .home-faq-item__arrow
          .home-faq-item__main
            p.text-5.home-faq-item__text Нет. Этот бизнес не имеет ничего общего с сетевым маркетингом (MLM), финансовыми пирамидами, хайпами, прямыми продажами, инвестиционными проектами и подобными схемами. Это абсолютно легальный, интересный и крутой бизнес. Вы зарабатываете роялти за продажи электронных и печатных книг на сайте Amazon.
        .home-faq-item
          .home-faq-item__header
            p.title-5.home-faq-item__title Правда ли, что для старта бизнеса нужны инвестиции от $3000?
            .home-faq-item__arrow
          .home-faq-item__main
            p.text-5.home-faq-item__text Нет. Этот бизнес не имеет ничего общего с сетевым маркетингом (MLM), финансовыми пирамидами, хайпами, прямыми продажами, инвестиционными проектами и подобными схемами. Это абсолютно легальный, интересный и крутой бизнес. Вы зарабатываете роялти за продажи электронных и печатных книг на сайте Amazon.
        .home-faq-item
          .home-faq-item__header
            p.title-5.home-faq-item__title Смогу ли я потом продавать физические товары на Amazon?
            .home-faq-item__arrow
          .home-faq-item__main
            p.text-5.home-faq-item__text Нет. Этот бизнес не имеет ничего общего с сетевым маркетингом (MLM), финансовыми пирамидами, хайпами, прямыми продажами, инвестиционными проектами и подобными схемами. Это абсолютно легальный, интересный и крутой бизнес. Вы зарабатываете роялти за продажи электронных и печатных книг на сайте Amazon.
        .home-faq-item
          .home-faq-item__header
            p.title-5.home-faq-item__title Нужен ли стартовый капитал и на что именно?
            .home-faq-item__arrow
          .home-faq-item__main
            p.text-5.home-faq-item__text Нет. Этот бизнес не имеет ничего общего с сетевым маркетингом (MLM), финансовыми пирамидами, хайпами, прямыми продажами, инвестиционными проектами и подобными схемами. Это абсолютно легальный, интересный и крутой бизнес. Вы зарабатываете роялти за продажи электронных и печатных книг на сайте Amazon.
        .home-faq-item
          .home-faq-item__header
            p.title-5.home-faq-item__title Сколько времени необходимо для запуска такого бизнеса?<br> За какое время я смогу отбить вложения и выйти в плюс?
            .home-faq-item__arrow
          .home-faq-item__main
            p.text-5.home-faq-item__text Нет. Этот бизнес не имеет ничего общего с сетевым маркетингом (MLM), финансовыми пирамидами, хайпами, прямыми продажами, инвестиционными проектами и подобными схемами. Это абсолютно легальный, интересный и крутой бизнес. Вы зарабатываете роялти за продажи электронных и печатных книг на сайте Amazon.
        .home-faq-item
          .home-faq-item__header
            p.title-5.home-faq-item__title Сколько денег я смогу заработать на продаже книг?
            .home-faq-item__arrow
          .home-faq-item__main
            p.text-5.home-faq-item__text Нет. Этот бизнес не имеет ничего общего с сетевым маркетингом (MLM), финансовыми пирамидами, хайпами, прямыми продажами, инвестиционными проектами и подобными схемами. Это абсолютно легальный, интересный и крутой бизнес. Вы зарабатываете роялти за продажи электронных и печатных книг на сайте Amazon.
        .home-faq-item
          .home-faq-item__header
            p.title-5.home-faq-item__title Как я буду получать прибыль?
            .home-faq-item__arrow
          .home-faq-item__main
            p.text-5.home-faq-item__text Нет. Этот бизнес не имеет ничего общего с сетевым маркетингом (MLM), финансовыми пирамидами, хайпами, прямыми продажами, инвестиционными проектами и подобными схемами. Это абсолютно легальный, интересный и крутой бизнес. Вы зарабатываете роялти за продажи электронных и печатных книг на сайте Amazon.
        .home-faq-item
          .home-faq-item__header
            p.title-5.home-faq-item__title Нужно ли мне платить налоги?
            .home-faq-item__arrow
          .home-faq-item__main
            p.text-5.home-faq-item__text Нет. Этот бизнес не имеет ничего общего с сетевым маркетингом (MLM), финансовыми пирамидами, хайпами, прямыми продажами, инвестиционными проектами и подобными схемами. Это абсолютно легальный, интересный и крутой бизнес. Вы зарабатываете роялти за продажи электронных и печатных книг на сайте Amazon.
        .home-faq-item
          .home-faq-item__header
            p.title-5.home-faq-item__title Это легальный бизнес?
            .home-faq-item__arrow
          .home-faq-item__main
            p.text-5.home-faq-item__text Нет. Этот бизнес не имеет ничего общего с сетевым маркетингом (MLM), финансовыми пирамидами, хайпами, прямыми продажами, инвестиционными проектами и подобными схемами. Это абсолютно легальный, интересный и крутой бизнес. Вы зарабатываете роялти за продажи электронных и печатных книг на сайте Amazon.
        .home-faq-item
          .home-faq-item__header
            p.title-5.home-faq-item__title Какой лучше выбрать пакет обучения?
            .home-faq-item__arrow
          .home-faq-item__main
            p.text-5.home-faq-item__text Нет. Этот бизнес не имеет ничего общего с сетевым маркетингом (MLM), финансовыми пирамидами, хайпами, прямыми продажами, инвестиционными проектами и подобными схемами. Это абсолютно легальный, интересный и крутой бизнес. Вы зарабатываете роялти за продажи электронных и печатных книг на сайте Amazon.
        .home-faq-item
          .home-faq-item__header
            p.title-5.home-faq-item__title Как с Вами связаться, ваши контакты?
            .home-faq-item__arrow
          .home-faq-item__main
            p.text-5.home-faq-item__text Нет. Этот бизнес не имеет ничего общего с сетевым маркетингом (MLM), финансовыми пирамидами, хайпами, прямыми продажами, инвестиционными проектами и подобными схемами. Это абсолютно легальный, интересный и крутой бизнес. Вы зарабатываете роялти за продажи электронных и печатных книг на сайте Amazon.
        .home-faq-item
          .home-faq-item__header
            p.title-5.home-faq-item__title Что мне необходимо для старта?
            .home-faq-item__arrow
          .home-faq-item__main
            p.text-5.home-faq-item__text Возможно ли оплата курса с помощью карт VISA и MasterCard?<br> Какие еще способы оплаты возможны?

.gift-box-layout.home-faq-gift
  .main-wrapper
    include ../../partials/gift-box
