.section.home-foreword-section
  .main-wrapper
    .home-foreword
      .section-title-layout.home-foreword__title
        p.section-ghost-title бизнес
        p.section-title Издательский бизнес на Amazon <span class="color-blue-violet">в 4-х словах</span>

      .home-foreword-list
        .home-foreword-item
          img(src="img/home/foreword/item-1.svg" alt="item-1").home-foreword-item__icon
          p.home-foreword-item__text
            span.home-foreword-item__text_number 1.
            br
            | Выбираете <b>тему книги</b>
            br
            | исходя из спроса
            br
            | читателей Amazon
        .home-foreword-item
          img(src="img/home/foreword/item-2.svg" alt="item-2").home-foreword-item__icon
          p.home-foreword-item__text
            span.home-foreword-item__text_number 2.
            br
            | Заказываете её <b>создание</b>
            br
            | у фрилансеров: от контента
            br
            | до дизайна
        .home-foreword-item
          img(src="img/home/foreword/item-3.svg" alt="item-3").home-foreword-item__icon
          p.home-foreword-item__text
            span.home-foreword-item__text_number 3.
            br
            | Выставляете её на своей
            br
            | <b>онлайн-витрине</b>
            br
            | и запускаете рекламу
        .home-foreword-item
          img(src="img/home/foreword/item-4.svg" alt="item-4").home-foreword-item__icon
          p.home-foreword-item__text
            span.home-foreword-item__text_number 4.
            br
            | Amazon ежемесячно
            br
            | <b>переводит прибыль</b> от продаж
            br
            | вам на карту

      p.subtitle-2.home-foreword__subtitle Если правильно выбрана тема и создан качественный контент —  продажа книг на Амазоне дальше требует <span class="color-portage">минимум ваших усилий</span>

      .home-foreword-gift
        include ../../partials/gift-box
