.section.home-format-section
  .main-wrapper
    .home-format
      .section-title-layout.home-format__title
        p.section-ghost-title формат
        p.section-title <span class="color-blue-violet">Формат</span> обучения

      .home-format-main
        .home-format-list
          .home-format-item.home-format-item--1
            p.home-format-item__text.text-9 <b>30 дней</b> на весь курс: 18 часов видео- и 25 000 слов тестовых уроков, которые постоянно дополняются и актуализируются
          .home-format-item.home-format-item--2
            p.home-format-item__text.text-9 <b>Онлайн-кабинет</b> студента и закрытое сообщество амазонщиков: пожизненный доступ
          .home-format-item.home-format-item--3
            p.home-format-item__text.text-9 <b>15 Модулей</b> уроков и живые поддерживающие вебинары
          .home-format-item.home-format-item--4
            p.home-format-item__text.text-9 <b>Регулярная проверка</b> домашних заданий и ревизия построенного бизнеса коучем программы
          .home-format-item.home-format-item--5
            p.home-format-item__text.text-9 <b>Шаблоны документов</b> и инструкции, которые можно скачать
          .home-format-item.home-format-item--6
            p.home-format-item__text.text-9 <b>Уникальный модуль:</b><br> Курс по PCC рекламе (AMS на Amazon).<br> Собран из личного опыта, обработанных специализированных курсов по рекламе и рекомендаций специалистов этой профессии, всё адаптировано и подстроено под рекламу именно на Амазон
          .home-format-item.home-format-item--7
            p.home-format-item__text.text-9 <b>Список рекомендованных</b> фрилансеров для ваших книг, которые уже были проверены и качество работы которых гарантировано «Магазин» с разнообразными скидками, корпоративная цена на различный специализированный софт
        .home-format-main__decor

      .home-format-disclaimer.color-white
        p.subtitle-3.home-format-disclaimer__title Только в Profit-Zone:
        p.text-10.home-format-disclaimer__text Бесплатный пожизненный саппорт и доступ к обновлениям курса на вечно.<br> Коучинг, поддержка на безлимитной основе: постоянное общение, выявление сложностей, их проработка и направление студента в правильное русло
