.section.home-gives-section
  .main-wrapper
    .home-gives
      .section-title-layout.home-gives__title
        p.section-ghost-title.section-ghost-title--white даёт
        p.section-title.color-white <span class="color-portage">Что даёт</span> бизнес на Amazon

      .home-gives-main
        p.text-3.color-white.home-gives-item А зачем вы работаете?<br> <span class="heavy">Нас всех мотивирует реализация крупных желаний, вплоть до собственного предназначения.</span> Только мы постоянно их откладываем: то сил нет, то денег не хватает.
        p.text-3.color-white.home-gives-item <span class="heavy">Книжный бизнес на Амазоне  —  это и есть как раз то дело, которое не отбирает много сил и даёт приличный доход и свободное время,</span> чтобы вы наконец начали воплощать свои мечты.
