.section.home-intro-section
  .main-wrapper
    .home-intro
      h1.big-title.color-white.home-intro__title Обучение<br class="br-lg"> книжному бизнесу на amazon
      p.subtitle.color-white.home-intro__subtitle для новичков 😳 и тех, кто уже в теме 😎
      ul.home-intro-ul
        li.home-intro-ul__li Вы узнаете <span class="heavy">как работает</span> продажа книг на Amazon и как устроен бизнес
        li.home-intro-ul__li Выучите и пройдёте <span class="heavy">все шаги до прибыльного</span> издательства на платформе
        li.home-intro-ul__li Сможете <span class="heavy">проработать с опытным</span> амазонщиком то, что не получается
        li.home-intro-ul__li Будете <span class="heavy">учиться на опыте коллег</span> в сообществе предпринимателей

      a(href="#program").link-smooth.btn.btn--2.home-intro-btn Записаться на обучение

      .home-intro-features
        .home-intro-features-item
          p.color-royal-blue.home-intro-features-item__title х10
          p.color-white.home-intro-features-item__text проще, чем товарный бизнес или дропшиппинг
        .home-intro-features-item
          img(src="img/new_pages/home/intro/infinity.svg" alt="infinity").home-intro-features-item__title-img
          p.color-white.home-intro-features-item__text без перебоев с поставками и лимитом на складах
        .home-intro-features-item
          p.color-royal-blue.home-intro-features-item__title 3 часа
          p.color-white.home-intro-features-item__text на управление своим делом в сутки
