.section.home-program-section#program
  .main-wrapper
    .home-program
      .section-title-layout.home-program__title-1
        p.section-ghost-title--white.section-ghost-title программу
        p.color-white.section-title Выбирайте свою обучающую <span class="color-blue-violet">программу</span>

      .home-program-list
        .home-program-item
          p.color-white.home-program-item__title
            span.home-program-item__title_line
            | Базовый
          p.color-white-07.text-4.home-program-item__text Стартовый пакет материалов для создания бизнеса
          .popup-link.home-program-item__plus(onclick="selectProgramTab(1); showPopup('#popup-programs')")
        .home-program-item
          p.color-white.home-program-item__title
            span.home-program-item__title_line.home-program-item__title_line--pink
            | Эксперт
          p.color-white-07.text-4.home-program-item__text Полный пакет материалов для создания бизнеса и его раскрутки.
          ul.home-program-item__ul
            li.color-white.home-program-item__ul_li Базовый
            li.color-white.home-program-item__ul_li AMS формула
          .popup-link.home-program-item__plus(onclick="selectProgramTab(2); showPopup('#popup-programs')")
          .home-program-item__best The best choice
        .home-program-item.home-program-item--lg
          .home-program-item__header
            p.color-white.home-program-item__title
              span.home-program-item__title_line.home-program-item__title_line--plus
              | Курс 3в1
          .home-program-item__main
            .home-program-item__col.home-program-item__col--1
              p.color-white-07.text-4.home-program-item__text Максимально полная концентрация знаний и эффективного обучения Книжному бизнесу на Амазон 2021
              .home-program-item__tabs-btns
                button(type="button" data-item="1").subtitle-3.home-program-item__tabs-btn.home-program-item__tabs-btn--active Базовый
                button(type="button" data-item="2").subtitle-3.home-program-item__tabs-btn AMS формула
                button(type="button" data-item="3").subtitle-3.home-program-item__tabs-btn Virtual Amazon Assistant
              a(href="#").btn.home-program-item__btn Узнать стоимость 3в1
            .home-program-item__col.home-program-item__col--2
              .home-program-item__tabs
                div(data-item="1").home-program-item__tab.home-program-item__tab--active
                  p.color-white.subtitle-3.home-program-item__tab_title Базовый
                  .color-white.text-6.home-program-item__tab_text
                    | УНИКАЛЬНЫЙ курс по PPC рекламе книг на Amazon, КОТОРОГО НИГДЕ НЕТ
                    br
                    br
                    | Полный разбор всех процессов настройки, принципов оптимизации, стратегии рекламных кампаний книг на Amazon
                    br
                    br
                    | Готовая адаптируемая ФОРМУЛА по настройке рекламы
                    br
                    br
                    | Одна часовая консультация по Полный разбор всех процессов настройки, принципов оптимизации, стратегии рекламных кампаний книг на Полный разбор всех процессов
                    br
                    br
                    | УНИКАЛЬНЫЙ курс по PPC рекламе книг на Amazon, КОТОРОГО НИГДЕ НЕТ
                    br
                    br
                    | Полный разбор всех процессов настройки, принципов оптимизации, стратегии рекламных кампаний книг на Amazon
                    br
                    br
                    | Готовая адаптируемая ФОРМУЛА по настройке рекламы
                    br
                    br
                    | Одна часовая консультация по Полный разбор всех процессов настройки, принципов оптимизации, стратегии рекламных кампаний книг на Полный разбор всех процессов
                div(data-item="2").home-program-item__tab
                  p.color-white.subtitle-3.home-program-item__tab_title AMS формула
                  .color-white.text-6.home-program-item__tab_text
                    | УНИКАЛЬНЫЙ курс по PPC рекламе книг на Amazon, КОТОРОГО НИГДЕ НЕТ
                    br
                    br
                    | Полный разбор всех процессов настройки, принципов оптимизации, стратегии рекламных кампаний книг на Amazon
                    br
                    br
                    | Готовая адаптируемая ФОРМУЛА по настройке рекламы
                    br
                    br
                    | Одна часовая консультация по Полный разбор всех процессов настройки, принципов оптимизации, стратегии рекламных кампаний книг на Полный разбор всех процессов
                    br
                    br
                    | УНИКАЛЬНЫЙ курс по PPC рекламе книг на Amazon, КОТОРОГО НИГДЕ НЕТ
                    br
                    br
                    | Полный разбор всех процессов настройки, принципов оптимизации, стратегии рекламных кампаний книг на Amazon
                    br
                    br
                    | Готовая адаптируемая ФОРМУЛА по настройке рекламы
                    br
                    br
                    | Одна часовая консультация по Полный разбор всех процессов настройки, принципов оптимизации, стратегии рекламных кампаний книг на Полный разбор всех процессов
                div(data-item="3").home-program-item__tab
                  p.color-white.subtitle-3.home-program-item__tab_title Virtual Amazon Assistant
                  .color-white.text-6.home-program-item__tab_text
                    | УНИКАЛЬНЫЙ курс по PPC рекламе книг на Amazon, КОТОРОГО НИГДЕ НЕТ
                    br
                    br
                    | Полный разбор всех процессов настройки, принципов оптимизации, стратегии рекламных кампаний книг на Amazon
                    br
                    br
                    | Готовая адаптируемая ФОРМУЛА по настройке рекламы
                    br
                    br
                    | Одна часовая консультация по Полный разбор всех процессов настройки, принципов оптимизации, стратегии рекламных кампаний книг на Полный разбор всех процессов
                    br
                    br
                    | УНИКАЛЬНЫЙ курс по PPC рекламе книг на Amazon, КОТОРОГО НИГДЕ НЕТ
                    br
                    br
                    | Полный разбор всех процессов настройки, принципов оптимизации, стратегии рекламных кампаний книг на Amazon
                    br
                    br
                    | Готовая адаптируемая ФОРМУЛА по настройке рекламы
                    br
                    br
                    | Одна часовая консультация по Полный разбор всех процессов настройки, принципов оптимизации, стратегии рекламных кампаний книг на Полный разбор всех процессов

      .home-timer-block
        p.home-timer-block__title-1 Выберите востребованную интернет-профессию, на которую всегда есть спрос и успейте занять место на потоке с <span class="color-portage">выгодой до $1000</span>
        a(href="#").btn.btn--bordered.home-timer-block__btn получить промокод
        p.home-timer-block__title-2 Воспользоваться промокодом можно только до 01.01

        .home-timer
          ul.home-timer__time.countdown-promo
            li 00
            li 00
            li 00
          ul.home-timer__title
            li Часов
            li минут
            li секунд

      .section-title-layout.home-program__title-2
        p.section-ghost-title--white.section-ghost-title модули
        p.color-white.section-title <span class="color-blue-violet">Отдельные модули</span> по книжному бизнесу

      .home-program-modules
        .home-program-module-layout
          .home-program-module.popup-link(onclick="selectModuleTab(1); showPopup('#popup-modules')")
            .home-program-module__main
              p.color-white.subtitle-3.home-program-module__title WORKSHOP
              p.color-white-07.text-7.home-program-module__text Все что необходимо знать, чтобы не лажануть с выбором прибыльной темы
            button(type="button").home-program-module__btn
        .home-program-module-layout
          .home-program-module.popup-link(onclick="selectModuleTab(2); showPopup('#popup-modules')")
            .home-program-module__main
              p.color-white.subtitle-3.home-program-module__title Индивидуальная консультация
              p.color-white-07.text-7.home-program-module__text
                | 1 час личной консультации<br class="br-lg"> + запись
            button(type="button").home-program-module__btn
        .home-program-module-layout
          .home-program-module.popup-link(onclick="selectModuleTab(3); showPopup('#popup-modules')")
            .home-program-module__main
              p.color-white.subtitle-3.home-program-module__title AMS формула
              p.color-white-07.text-7.home-program-module__text
                | УНИКАЛЬНЫЙ курс по PPC рекламе книг на Amazon, КОТОРОГО НИГДЕ НЕТ
            button(type="button").home-program-module__btn
        .home-program-module-layout
          .home-program-module.popup-link(onclick="selectModuleTab(4); showPopup('#popup-modules')")
            .home-program-module__main
              p.color-white.subtitle-3.home-program-module__title Virtual Amazon Assistant
              p.color-white-07.text-7.home-program-module__text получи новую специальность удалённый ассистент на Amazon и зарабатывай онлайн с нуля
            button(type="button").home-program-module__btn

      .color-white.home-program-installment
        p.title-6.home-program-installment__title <b>Рассрочка!</b> На любой выбранный пакет вы можете оформить рассрочку.
        p.text-8.home-program-installment__text Граждане Украины уже могут пользоваться этой автоматизированной функцией, встроенной в платёжную систему. Граждане других стран должны будут <a href="#">связаться со мной</a> для оформления
