.section.home-receive-section
  .main-wrapper
    .home-receive
      .section-title-layout.home-receive__title
        p.section-ghost-title получите
        p.section-title В Profit Zone <span class="color-blue-violet">вы получите</span>

      .home-receive-main
        .home-receive-main__left
          .home-system-box-list
            .home-system-box-item
              p.extrabold.home-system-box-item__number 1.
              p.home-system-box-item__text Учебную программу с полной и актуальной информацией на текущий год  —  пожизненно, доступ к закрытым живым вебинарам «Вопрос-Ответ» и записям всех прошедших
            .home-system-box-item
              p.extrabold.home-system-box-item__number 2.
              p.home-system-box-item__text Практические домашние задания и их проверка с обратной связью вплоть до выпуска вашей собственной книги в<br> продажу
            .home-system-box-item
              p.extrabold.home-system-box-item__number 3.
              p.home-system-box-item__text Коучинг  —  проработать ограничивающие убеждения, мешающие развиваться, найти мотивацию, скорректировать целеполагание
            .home-system-box-item
              p.extrabold.home-system-box-item__number 4.
              p.home-system-box-item__text Изучение английского языка для тех, кому нужно: месяц в подарок и специальное предложение для продолжающих
            .home-system-box-item
              p.extrabold.home-system-box-item__number 5.
              p.home-system-box-item__text Встроенные в обучение тайм- и энерго-программы повышения личной эффективности
        .home-receive-main__right
          .home-system-box-list
            .home-system-box-item
              p.extrabold.home-system-box-item__number 6.
              p.home-system-box-item__text Общение закрытом в сообществе профессиональных амазонщиков
            .home-system-box-item
              p.extrabold.home-system-box-item__number 7.
              p.home-system-box-item__text Колоссальную поддержку автора программы  —  ревизию бизнеса и индивидуальные консультации
            .home-system-box-item
              p.extrabold.home-system-box-item__number 8.
              p.home-system-box-item__text Важные дополнения к основному курсу: СЕО-оптимизирование и AMS реклама
            .home-system-box-item
              p.extrabold.home-system-box-item__number 9.
              p.home-system-box-item__text Доступ к базе проверенных специалистов, которые могут вам понадобиться в процессе работы
            .home-system-box-item
              p.extrabold.home-system-box-item__number 10.
              p.home-system-box-item__text Дополнительные курсы смежных Amazon-специальностей
            .home-system-box-item
              p.extrabold.home-system-box-item__number 11.
              p.home-system-box-item__text Вся информация курса выведена из личного опыта построения бизнеса и постоянно обновляется, согласно актуальным правилам платформы

      .home-receive-guarantee
        .home-receive-guarantee__main
          p.color-white.home-receive-guarantee__title
            span.home-receive-guarantee__title_emoji 🔥
            | 100% гарантия
          p.text-4.color-white.home-receive-guarantee__text владения навыком заработка на продаже книг Амазон, при условии выполнения всех заданий и этапов обучающей системы
        a(href="#program").link-smooth.btn.home-receive-guarantee__btn Записаться на обучение

