.section.home-reviews-section
  .main-wrapper
    .home-reviews
      .section-title-layout.home-reviews__title
        p.section-ghost-title отзывы
        p.section-title 3 факта о Profit Zone и другие <span class="color-blue-violet">Отзывы</span>

      .home-reviews-facts
        .home-reviews-fact
          .home-reviews-fact__number 1
          .home-reviews-fact__text В школе Profit-Zone нельзя НЕ построить свой амазон-бизнес потому что
          img(src="img/home/reviews/fact-1.jpg").home-reviews-fact__img
        .home-reviews-fact
          .home-reviews-fact__number 2
          .home-reviews-fact__text Студенты Profit-Zone хорошо зарабатывают, потому что
          img(src="img/home/reviews/fact-2.jpg").home-reviews-fact__img
        .home-reviews-fact
          .home-reviews-fact__number 3
          .home-reviews-fact__text Бизнес выпускников Profit-Zone продолжает развиваться потому что
          img(src="img/home/reviews/fact-3.jpg").home-reviews-fact__img

  .home-reviews-slider
    .home-reviews-slide
      .popup-link.home-reviews-slide-content(onclick="showPopup('#popup-reviews'); $('.popup-slider-reviews').slick('reinit');")
        img(src="img/home/reviews/review-1.jpg").home-reviews-slide-content__img
    .home-reviews-slide
      .popup-link.home-reviews-slide-content(onclick="showPopup('#popup-reviews'); $('.popup-slider-reviews').slick('reinit');")
        img(src="img/home/reviews/review-1.jpg").home-reviews-slide-content__img
    .home-reviews-slide
      .popup-link.home-reviews-slide-content(onclick="showPopup('#popup-reviews'); $('.popup-slider-reviews').slick('reinit');")
        img(src="img/home/reviews/review-1.jpg").home-reviews-slide-content__img
    .home-reviews-slide
      .popup-link.home-reviews-slide-content(onclick="showPopup('#popup-reviews'); $('.popup-slider-reviews').slick('reinit');")
        img(src="img/home/reviews/review-1.jpg").home-reviews-slide-content__img
    .home-reviews-slide
      .popup-link.home-reviews-slide-content(onclick="showPopup('#popup-reviews'); $('.popup-slider-reviews').slick('reinit');")
        img(src="img/home/reviews/review-1.jpg").home-reviews-slide-content__img
