.section.home-sells-section
  .main-wrapper
    .home-sells
      .home-sells-main
        .home-sells-video
          .circle-bg
          .home-sells-video__iframe
            img(src="img/home/sells/video-thumb.jpg" alt="video").home-sells-video__iframe_img
          p.home-sells-video__text Смотрите, как зарабатывают ученики Profit-Zone

        .home-sells-content
          .section-title-layout.home-sells-content__title
            p.section-ghost-title продаже
            p.section-title <span class="color-blue-violet">Заработок</span><br> на продаже книг
          .home-sells-content__text
            | В среднем <b>через 30 дней курса</b> выпустится и начнёт продаваться ваша первая книга. Этот бизнес не требует стартового капитала, только <b>минимальной инвестиции</b> в создание книги. Она отобьется через несколько месяцев  — вы выйдете в точку безубыточности.
            br
            br
            | Чистый заработок на Амазон за год с одной книги составит 1 000 $. Особо удачные книги приносят
            br
            | <b>по 1 000 $ в месяц</b> и больше! Новую книгу получается выпускать раз в месяц тоже в среднем. При том что все они, включая самую первую, <b>продолжают продаваться и умножать вашу прибыль,</b> и через год и через 5. Дальше считайте сами.

