.section.home-students-section
  .main-wrapper
    .home-students
      .section-title-layout.home-students__title
        p.section-ghost-title.section-ghost-title--white истории
        p.color-white.section-title <span class="color-blue-violet">Истории</span> моих учеников<br> и их бизнеса

      .home-students-slider-layout
        .home-students-slider-decor
        .home-students-slider
          .home-students-slide
            .home-students-info.color-white
              .home-students-info__about
                img(src="img/home/students/avatar-1.png").home-students-info__about_photo
                .home-students-info__about_text
                  p.home-students-info__name Валентина
                  p.home-students-info__position Студентка курса Basic
              p.home-students-info__title Спасибо огромное за ваш курс!
              p.home-students-info__text С помощью курса заработал первые деньги на книгах и изменил собственную жизнь! Студент моего курса о мотивации, заработке и целях.
              .home-students-info__next
                .home-students-info__about.home-students-info__about--right
                  .home-students-info__about_text
                    p.home-students-info__name Валентина
                    p.home-students-info__position Студентка курса Basic
                  img(src="img/home/students/avatar-1.png").home-students-info__about_photo
          .home-students-slide
            .home-students-info.color-white
              .home-students-info__about
                img(src="img/home/students/avatar-1.png").home-students-info__about_photo
                .home-students-info__about_text
                  p.home-students-info__name Валентина
                  p.home-students-info__position Студентка курса Basic
              p.home-students-info__title Спасибо огромное за ваш курс!
              p.home-students-info__text С помощью курса заработал первые деньги на книгах и изменил собственную жизнь! Студент моего курса о мотивации, заработке и целях.
              .home-students-info__next
                .home-students-info__about.home-students-info__about--right
                  .home-students-info__about_text
                    p.home-students-info__name Валентина
                    p.home-students-info__position Студентка курса Basic
                  img(src="img/home/students/avatar-1.png").home-students-info__about_photo
          .home-students-slide
            .home-students-info.color-white
              .home-students-info__about
                img(src="img/home/students/avatar-1.png" alt="avatar").home-students-info__about_photo
                .home-students-info__about_text
                  p.home-students-info__name Валентина
                  p.home-students-info__position Студентка курса Basic
              p.home-students-info__title Спасибо огромное за ваш курс!
              p.home-students-info__text С помощью курса заработал первые деньги на книгах и изменил собственную жизнь! Студент моего курса о мотивации, заработке и целях.
              .home-students-info__next
                .home-students-info__about.home-students-info__about--right
                  .home-students-info__about_text
                    p.home-students-info__name Валентина
                    p.home-students-info__position Студентка курса Basic
                  img(src="img/home/students/avatar-1.png" alt="avatar").home-students-info__about_photo

      .home-students-video-slider
        .home-students-video-slide
          .home-students-video
            img(src="img/home/students/video-1.jpg").home-students-video__thumb
        .home-students-video-slide
          .home-students-video
            img(src="img/home/students/video-1.jpg").home-students-video__thumb
        .home-students-video-slide
          .home-students-video
            img(src="img/home/students/video-1.jpg").home-students-video__thumb

      .home-students-btn-layout.text-center
        a(href="#").btn.home-students-btn Записаться на обучение
