.section.home-system-section
  .main-wrapper
    .home-system
      .home-system-box.color-white
        .home-system-box__left
          p.title-4.home-system-box__title Как система Profit-Zone заставит вас <span class="color-portage">добится успеха</span>
          .home-system-box-blocks
            .home-system-box-block
              p.subtitle-3.home-system-box-block__title Прикладная часть обучения:
              .home-system-box-list
                .home-system-box-item
                  p.extrabold.home-system-box-item__number 1.
                  p.home-system-box-item__text Каждый урок вы поэтапно будете создавать собственную книгу,<br> вплоть до её публикации и старта продаж на Амазоне
                .home-system-box-item
                  p.extrabold.home-system-box-item__number 2.
                  p.home-system-box-item__text После каждого модуля вы будете выполнять домашнее задание и получать по нему обратную связь от тренера, следующий модуль<br> не открывается, пока задание не выполнено
                .home-system-box-item
                  p.extrabold.home-system-box-item__number 3.
                  p.home-system-box-item__text Раз в месяц вы будете участвовать в живых вебинарах «Ответы<br> на ваши вопросы» и получите пул записей предыдущих вебинаров
                .home-system-box-item
                  p.extrabold.home-system-box-item__number 4.
                  p.home-system-box-item__text Вы подключитесь к постоянному обсуждению бизнеса в закрытом дружном сообществе амазонщиков: выпускников  Profit Zone, которые теперь успешно ведут своё книжное издательство и очень поддерживают своих начинающих коллег. Мотивация от успеха друг друга, опыт на чужих ошибках, совместная генерация новых бизнес-идей, поиск лайфхаков и тусовки по всему миру
                .home-system-box-item
                  p.extrabold.home-system-box-item__number 5.
                  p.home-system-box-item__text Вам будут доступны индивидуальные консультации с коучем  —<br> живые или онлайн  —  по вашим собственным бизнес-вопросам
        .home-system-box__right
          .home-system-box__right_top
            .home-system-box-blocks
              .home-system-box-block
                p.subtitle-3.home-system-box-block__title Тайм- и энерго-менеджмент:
                .home-system-box-list
                  .home-system-box-item
                    p.extrabold.home-system-box-item__number 6.
                    p.home-system-box-item__text Параллельно вы будете проходить программы<br> «100-дневка успеха»  —  боремся с прокрастинацией<br> и ленью, и «Марафон джедайских практик» —<br> настраиваем баланс жизнь-работа, расставляем приоритеты
              .home-system-box-block
                p.subtitle-3.home-system-box-block__title Мотивация и эффективность:
                .home-system-box-list
                  .home-system-box-item
                    p.extrabold.home-system-box-item__number 7.
                    p.home-system-box-item__text Установочная коуч сессия с профессиональным психологом и коучем зарядит вас на достижение<br> своих целей вначале обучения. Также вам будет<br> доступна скидка 50% на дальнейшую работу с коучем<br> при потребности
          .home-system-box__right_bottom
            .home-system-box-guarantee
              p.home-system-box-guarantee__title
                span.home-system-box-guarantee__title_emoji 🔥
                | 100% гарантия
              p.home-system-box-guarantee__text Мы точно научим вас этому бизнесу и поможем сделать больше, чем вы можете сами
