.section.home-whom-section
  .main-wrapper
    .home-whom
      .section-title-layout.home-whom__title
        p.section-ghost-title подходит
        p.section-title <span class="color-blue-violet">Кому подходит</span> книжный бизнес на Амазон?

      .home-whom-main
        .home-whom-about
          .color-white.home-whom-about__item
            p.title-2.home-whom-about__item_title Особенность издательского онлайн-бизнеса:
            p.text-2.home-whom-about__item_text продажа книг на Amazon имеет чёткий алгоритм действий, выучив который, каждый сможет заниматься и преуспевать в этом деле.
          .color-white.home-whom-about__item
            p.title-2.home-whom-about__item_title Главное:
            p.text-2.home-whom-about__item_text найти честного наставника, который научит всем приёмам, расскажет о подводных камнях и актуальных обновлениях.

        .home-whom-people
          .home-whom-people-item.home-whom-people-item--1
            .home-whom-people-item__img
            p.home-whom-people-item__text Наёмный сотрудник или фрилансер
          .home-whom-people-item.home-whom-people-item--2
            .home-whom-people-item__img
            p.home-whom-people-item__text Предприниматель
          .home-whom-people-item.home-whom-people-item--3
            .home-whom-people-item__img
            p.home-whom-people-item__text Студентка
          .home-whom-people-item.home-whom-people-item--4
            .home-whom-people-item__img
            p.home-whom-people-item__text Безработный
          .home-whom-people-item.home-whom-people-item--5
            .home-whom-people-item__img
            p.home-whom-people-item__text Пенсионерка

      .home-whom-stairs-layout
        .home-whom-stairs
          .home-whom-stairs-list
            .home-whom-stairs-item
              .home-whom-stairs-item__icon
                img(src="img/home/whom/stairs-item-1.svg" alt="item 1").home-whom-stairs-item__icon_img
              p.color-white.home-whom-stairs-item__text если вас <b>утомила работа</b> на босса
            .home-whom-stairs-item
              .home-whom-stairs-item__icon
                img(src="img/home/whom/stairs-item-2.svg" alt="item 2").home-whom-stairs-item__icon_img
              p.color-white.home-whom-stairs-item__text если вы не довольны уровнем <b>оплаты</b>
            .home-whom-stairs-item
              .home-whom-stairs-item__icon
                img(src="img/home/whom/stairs-item-3.svg" alt="item 3").home-whom-stairs-item__icon_img
              p.color-white.home-whom-stairs-item__text если ищете дело, где себя <b>реализовать</b>
            .home-whom-stairs-item
              .home-whom-stairs-item__icon
                img(src="img/home/whom/stairs-item-4.svg" alt="item 4").home-whom-stairs-item__icon_img
              p.color-white.home-whom-stairs-item__text если нуждаетесь в <b>стабильном $ доходе</b>
            .home-whom-stairs-item
              .home-whom-stairs-item__icon
                img(src="img/home/whom/stairs-item-5.svg" alt="item 5").home-whom-stairs-item__icon_img
              p.color-white.home-whom-stairs-item__text если спад экономики <b>задушил ваш бизнес</b>
            .home-whom-stairs-item
              .home-whom-stairs-item__icon
                img(src="img/home/whom/stairs-item-6.svg" alt="item 6").home-whom-stairs-item__icon_img
              p.color-white.home-whom-stairs-item__text если вы пытаетесь <b>идти в ногу</b> со временем

          .home-whom-action
            p.title-3.home-whom-action__title Выбирайте книжный<br> бизнес на Амазон
            a(href="#program").link-smooth.btn.home-whom-action__btn Записаться на обучение
